<!DOCTYPE html>

<head>
	<script>
		function setStatus(id, status){
			var req = new XMLHttpRequest();
			req.open("POST", "setstatus");
			req.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			req.send(id + "=" + status);
		}

		function recolor(element, color){
			element.style.backgroundColor = color;
		}
	</script>
	<style>
		.tila0 {
			background-color: gray;
		}
		.tila1 {
			background-color: green;
		}
		.tila2 {
			background-color: yellow;
		}
		.tila0 > .nappula0 {
			visibility: hidden;
		}
		.tila1 > .nappula1 {
			visibility: hidden;
		}
		.tila2 > .nappula2 {
			visibility: hidden;
		}

		.esitiedetty{
			color: green;
		}
	</style>
</head>

{{$kaikki := .}}

<body>
	<a href="logout">Kirjaudu ulos</a>
	<h1>Oppimateriaali</h1>
	{{range $aihe := .Aiheet}}
	<div class="tila{{$aihe.Tila}}">
		<a href="materiaali/{{$aihe.URL}}"><h2>{{$aihe.Nimi}}</h2></a>

		{{range $aihe.TäyttämättömätVaatimukset}}
		<span>{{(index $kaikki.IdAiheeksi .).Nimi}}&nbsp;</span>
		{{end}}<br/>
		{{range $aihe.TäytetytVaatimukset}}
		<span class="esitiedetty">{{(index $kaikki.IdAiheeksi .).Nimi}}&nbsp;</span>
		{{end}}<br/>
		
		{{range $i, $nimi := $kaikki.TilojenNimet}}
		<button class="nappula{{$i}}" onclick="setStatus({{$aihe.Id}}, {{$i}}); this.parentElement.className='tila{{$i}}'">
			{{$nimi}}
		</button>
		{{end}}
	</div>
	{{end}}
</body>