<!DOCTYPE html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/ohje.css">
</head>
<body>
<a href="/koe" >takaisin kokeen etusivulle</a>
<div class=comparison>
	{{if ne (len .PreviousSolution) 0}}
	<div class=compcell>
		<p>Ratkaisu edelliseen kohtaan oli:</p>
		<pre>{{.PreviousSolution}}</pre>
	</div>
	{{end}}
	<div class=compcell>
		{{.Description}}
		<form action="{{.FormAction}}" method="POST">
			<textarea name="{{.CodeName}}" rows=40 cols=90>{{.Code}}</textarea>
			<input type="submit" >
		</form>
		{{if not .Last}}
		<form action="{{.SkipURL}}">
			<input type="submit" value="Ohita" >
		</form>
		{{end}}
		<pre>{{.Reply}}</pre>
	</div>
</div>
</body>