<!DOCTYPE html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/ohje.css">
</head>
<body>
<div class=comparison>
	{{if len .PreviousSolution ne 0}}
	<div class=compcell>
		<h2>Ratkaisu edelliseen kohtaan</h2>
		<pre>{{.PreviousSolution}}</pre>
	</div>
	{{end}}
	<div class=compcell>
		{{.Description}}
		<form action="{{.FormAction}}" method="POST">
			<textarea name="{{.CodeName}}" rows=40 cols=90>{{.Code}}</textarea>
			<input type="submit" >
		</form>
		{{if not .Last}}
		<form action="{{.SkipURL}}">
			<input type="submit" value="Ohita" >
		</form>
		{{end}}
		<pre>{{.Reply}}</pre>
	</div>
</div>
</body>